/* 
 This CSS file is used to override the existing styles of the theme.
 You can change the article headings, fonts, colors, etc.
*/
.bg-tlgray-800 {
  --tw-bg-opacity: 1;
  background-color: rgb(161 27 26 / var(--tw-bg-opacity));
}

.bg-gray-800 {
  --tw-bg-opacity: 1;
  background-color: rgb(161 27 26 / var(--tw-bg-opacity));
}

